@import "~bootstrap/scss/bootstrap";

body {
  background-color: $gray-800;
  color: $white;
}

.bom-grid-cell {
  border: 2px solid $gray-500;
  page-break-inside: avoid;
}

@media print {
  body {
    background-color: $white;
    color: $black;
  }

  .bom-grid-cell {
    border: 2px solid $black;
  }
}
